.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}
.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: '';
  border-left: 1px solid rgba(0, 122, 255, 0.25);
  position: absolute;
}
.cm-hmd-list-indent .cm-tab::before {
  left: 0;
  top: -5px;
  bottom: -4px;
}
ul ul::before {
  left: -11px;
  top: 0;
  bottom: 0;
}
/* Make the ribbon respond to the mouseenter event. */
.workspace-ribbon.side-dock-ribbon.mod-right.is-collapsed {
  display: block !important;
  position: absolute !important;
  right: 0 !important;
  height: 100vh !important;
  background: transparent !important;
}